
.grid {

  margin: 100px 0 0; 
  margin-top: 20px; 
}

.navBar{
  /* display: inline; */
  margin-bottom: 20px; 
  background-color: #333;
  overflow: hidden;  
}
.navBar a {
  float: left;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  /* background-color: rgb(93, 155, 117); */
}
.navBar a:hover{
 background-color: #333 ;
}
.dropDown {
  float: left;
  overflow: hidden;
}
 .dropDown .dropBtn{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 22px;
  font-size: 17px;
  border: none;
  background-color: #333333;
  /* background-color: rgb(93, 155, 117); */
}

.navBar a:hover, .dropDown:hover .dropBtn{
  background-color: rgb(93, 155, 117);
}

.dropdown-algo {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  /* max-width: 150px; */
  margin-top: 50px;
}
 
.dropdown-algo a {
  float: none;
  color: black;
  padding: 14px 22px;
  text-decoration: none;
  display: block;
  text-align: left;
 
}
.dropdown-algo a:hover{
  background-color: #ddd;
}

.dropDown:hover .dropdown-algo{
  display: block;
}
