.navBar{
  margin-bottom: 20px; 
  background-color: #333;
  overflow: hidden;  
}
.navBar a {
  float: left;
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  cursor: pointer;
}

.navBar a:hover{
 /* background-color: rgb(255, 0, 0) */
 color: rgb(159, 226 ,191);
}

.dropDown {
  float: left;
  overflow: hidden;
}

.dropDown .dropBtn{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 22px;
  font-size: 17px;
  border: none;
  background-color: #333333;
}

/* .dropBtn:hover{
  background-color: rgb(93, 155, 117); ; 
} */

.dropdown-algo {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 47px;
}
 
.dropdown-algo a {
  float: none;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-algo a:hover{
   background-color:  rgb(94, 94, 116);
   color: black;
}

.dropDown:hover .dropdown-algo {
  display: block;
}

.wall {
  float: left;
  overflow: hidden;
  border: none;
}

 .wall .dropWall{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 22px;
  font-size: 17px;
  border: none;
  background-color: #333333;
}

.dropdown-wall {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-top: 47px;
}
 
.dropdown-wall a {
  float: none;
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.dropdown-wall a:hover{
  background-color:  rgb(94, 94, 116);
   color: black;
}

.wall:hover .dropdown-wall{
  display: block;
}

.grid {
  margin: 100px 0 0; 
  margin-top: 20px; 
  margin-bottom: 10px;
}





